*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #74b9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 课表面 */
#classBigBox{
  width: 75vw;
  height: 40vw;
  background-color: #fff3cb;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 0 0.5vw 0;
  box-shadow: 2px 2px 10px 3px black;
}
/* 时间表的外围 */
#timeList{
  box-shadow: 2px 2px 3px black;
  background-color: #b2bec3;
  height: 4vw;
  font-size: 1vw;
  margin-bottom: 0.8vw;
}
/* 时间的个体 */
.timeListNum{
  padding-top: 0.2vw;
  margin: 0.5vw;
  width: 5vw;
  height: 3vw;
  text-align: center;
}
/* 课表每行的外围 */
.list{
  width: 73vw;
  border-radius: 0.5vw;
  display: flex;
}
/* 星期 */
.date{
  width: 5.3vw;
  height: 4.5vw;
  margin: 0.2vw;
  text-align: center;
  color: white;
  background-color: #6c5ce7;
  border-radius: 0.2vw;
  transition: all 0.2s;
  box-shadow: 2px 3px 2px black;
}
/* 每个课程 */
.listNum{
  margin: 0.2vw;
  text-align: center;
  color: white;
  background-color: #6c5ce7;
  border-radius: 0.2vw;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.7vw;
  box-shadow: 2px 3px 2px black;
  opacity: 0.9;
}
.listNum:hover{
  transform: scale(1.02);
  opacity: 1;
}
/* 单课 */
.listNum1{
  width: 5.3vw;
  height: 4.5vw;
  margin: 0.2vw;
  text-align: center;
  color: white;
  border-radius: 0.2vw;
}
/* 双课 */
.listNum2{
  width: 11vw;
  height: 4.5vw;
  margin: 0.2vw;
  text-align: center;
  color: white;
  border-radius: 0.2vw;
}
/* 没课 */
.noneClass{
  background-color: rgb(182, 182, 182);
  color: rgb(49, 49, 49);
  line-height: 4.5vw;
  font-size: 1vw;
}
/* 普通 */
.normal{
  background-color: #0984e3;
  line-height: 2vw;
  color: rgb(255, 255, 255);
}